.audio-player {
  position: fixed;
  bottom: 0;
  display: var(--display-audio-player);
  background-color: var(--bg-color);
  width: 100%;
}

.details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0 10px;
}

.music-number {
  font-size: 1rem;
  text-transform: uppercase;
}

.music-name {
  font-size: 2.1rem;
}

.music-singer {
  margin-top: 5px;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.slider-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
}

.time-range {
  appearance: none;
  height: 4px;
  background: var(--main-color);
  cursor: pointer;
  width: 100%;
  margin: 0 -1px;
}

.time-range:hover {
  height: 6px;
}

.audio-start-time,
.audio-end-time {
  padding: 10px;
  position: absolute;
  top: 10px;
}

.audio-start-time {
  left: 0;
}

.audio-end-time {
  right: 0;
}

.audio-control-buttons svg {
  cursor: pointer;
}

.audio-control-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-button {
  padding: 15px;
}

.audio-button:hover {
  opacity: 1;
}

.audio-control-container {
  display: flex;
  padding: 30px 40px 5px;
  align-items: center;
  justify-content: space-between;
}

.audio-control-container > div {
  width: calc(100% / 3);
}

.operation-buttons-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;

  .operation-button {
    padding: 10px;
  }

  svg {
    cursor: pointer;
  }
}

@media (max-width: 950px) {
  .audio-control-container {
    padding: 30px 0 5px;
  }

  .audio-start-time,
  .audio-end-time {
    padding: 6px;
  }

  .music-name {
    font-size: 1.5rem;
  }

  .music-singer {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }

  .previous-audio-button,
  .next-audio-button {
    display: none;
  }

  .music-number {
    font-size: 0.4rem;
  }
}
