.post-container {
  width: 100%;
  padding: 21px 0;
}

.post-header {
  margin: 0 var(--main-content-spacing) 0;
}

.post-body {
  margin: 0 var(--main-content-spacing) 0;
}

.post-divider {
  margin: 20px var(--main-content-spacing) 0;
  border-bottom: 2px solid var(--main-color);
}

.post-header-title {
  display: flex;
  font-size: 18px;
  line-height: 18px;
  padding: 5px 0;
}

.post-header-title-divider {
  border-left: 2px solid var(--main-color);
  margin: 0 9px 3px;
}

.post-date {
  font-size: 14px;
  padding: 5px 0;
}

.post-image {
  width: 100%;
  padding: 15px 0;
}

.post-video {
  width: 100%;
  padding: 15px 0;

  iframe {
    width: 100%;
    height: 52vw;
  }
}

.post-title {
  padding: 7px 0;
  font-size: 26px;
  font-weight: 900;
}

.post-description {
  padding: 9px 0;
}

.post-quote {
  padding: 10px 0;
  font-size: 18px;
}

.post-audio {
  display: flex;
  align-items: center;
  padding: 15px 0;

  .post-audio-icon {
    cursor: pointer;
    margin-right: 18px;
  }

  .post-audio-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2px;
  }

  .post-audio-name {
    font-size: 18px;
  }

  .post-audio-description {
    font-size: 16px;
  }
}

.post-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  padding: 10px 0 0;
  cursor: pointer;
}
