.post-container {
  width: 100%;
  padding: 21px 0;
  cursor: pointer;
}

.post-header {
  margin: 0 var(--main-content-spacing) 0;
  display: flex;
  justify-content: space-between;
}

.post-header-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 32px;
    height: 32px;
  }
}

.post-body {
  margin: 0 var(--main-content-spacing) 0;
}

.post-divider {
  margin: 30px 0 0;
  border-bottom: 10px solid var(--main-color);
  opacity: 0.15;
}

.post-header-title {
  display: flex;
  font-size: 18px;
  line-height: 18px;
  padding: 5px 0 3px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.post-header-title-divider {
  border-left: 2px solid var(--main-color);
  margin: 0 9px 3px;
}

.post-date {
  font-size: 14px;
  padding: 3px 0 5px;
}

.post-image {
  width: 100%;
  padding: 15px 0;
}

.post-video {
  padding: 15px 0;

  .post-video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.post-title {
  padding: 7px 0;
  font-size: 26px;
  font-weight: 900;
}

.post-description {
  padding: 9px 0;
}

.post-quote {
  padding: 10px 0;
  font-size: 18px;
}

.post-audio {
  display: flex;
  align-items: center;
  padding: 15px 0;

  .post-audio-icon {
    cursor: pointer;
    margin-right: 18px;
  }

  .post-audio-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2px;
  }

  .post-audio-name {
    font-size: 18px;
  }

  .post-audio-description {
    font-size: 16px;
  }
}

.post-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  padding: 10px 0 0;
  cursor: pointer;
}

.posts-masonry-column > div:last-child {
    .post-divider {
      display: none;
    }
}

.post-modal-header-wrapper {
  width: 100%;

  .post-header {
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .post-header-title {
    font-size: 22px;
  }

  .post-date {
    font-size: 16px;
  }

  .post-header-icon {
    margin-right: calc(var(--main-content-spacing) / 2);

    span {
      height: 40px;
      padding-bottom: 5px;
    }

    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.post-modal-content-wrapper {
  .post-body {
    margin-left: 0;
    margin-right: 0;
  }

  .post-image-wrapper {
    position: relative;
    margin-right: calc(-3 * var(--main-content-spacing));
    margin-left: calc(-3 * var(--main-content-spacing));
  }

  .post-video-wrapper {
    position: relative;
    margin-right: calc(-1 * var(--main-content-spacing));
    margin-left: calc(-1 * var(--main-content-spacing));
  }
}

@media (min-width: 951px) {
  .post-media {
    margin: 0 var(--main-content-spacing) 0;
  }

  .post-divider {
    margin: 30px var(--main-content-spacing) 0;
    border-bottom: 8px solid var(--main-color);
  }
}

@media (max-width: 950px) {
  #posts-container > div > div.post-container:last-child {
    .post-divider {
      display: none;
    }
  }
}
