:root {
  --bg-color: #FFFFFF;
  --main-color: #000000;
  --input-placeholder-color: rgba(0, 0, 0, 0.5);
  --scrollbar-thumb-color: #CCCCCC;
  --scrollbar-thumb-color-hovered: #646464;
  --gradient-background-color-start: rgba(255, 255, 255, 0);
  --gradient-background-color-end: rgb(255, 255, 255);
  --border-width: 6px;
  --main-content-spacing: 64px;
  --main-part-height: 100vh;
  --with-address-bar-height: calc(var(--vh, 1vh) * 100);
  --main-part-background-size: 65vh;
  --main-part-background-position-x: 75%;
  --display-dark-theme-icon: block;
  --display-light-theme-icon: none;
  --display-main-play-button: block;
  --display-audio-player: none;
  --h1-custom-font-size: 128px;
  --h2-custom-font-size: 96px;
  --h3-custom-font-size: 48px;
  --h4-custom-font-size: 40px;
  --h5-custom-font-size: 38px;
  --h6-custom-font-size: 36px;
}

.dark-theme {
  --bg-color: #000000;
  --main-color: #FFFFFF;
  --input-placeholder-color: rgba(255, 255, 255, 0.5);
  --gradient-background-color-start: rgba(0, 0, 0, 0);
  --gradient-background-color-end: rgba(0, 0, 0, 1);
  --scrollbar-thumb-color: #646464;
  --scrollbar-thumb-color-hovered: #CCCCCC;
  --display-dark-theme-icon: none;
  --display-light-theme-icon: block;

  blockquote:before {
    background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.275 13.5L6 10.5C5.175 10.5 4.46875 10.2063 3.88125 9.61875C3.29375 9.03125 3 8.325 3 7.5C3 6.675 3.29375 5.96875 3.88125 5.38125C4.46875 4.79375 5.175 4.5 6 4.5C6.825 4.5 7.53125 4.79375 8.11875 5.38125C8.70625 5.96875 9 6.675 9 7.5C9 7.7875 8.96562 8.05313 8.89687 8.29688C8.82812 8.54063 8.725 8.775 8.5875 9L6 13.5H4.275ZM11.025 13.5L12.75 10.5C11.925 10.5 11.2187 10.2063 10.6312 9.61875C10.0437 9.03125 9.75 8.325 9.75 7.5C9.75 6.675 10.0437 5.96875 10.6312 5.38125C11.2187 4.79375 11.925 4.5 12.75 4.5C13.575 4.5 14.2812 4.79375 14.8687 5.38125C15.4562 5.96875 15.75 6.675 15.75 7.5C15.75 7.7875 15.7156 8.05313 15.6469 8.29688C15.5781 8.54063 15.475 8.775 15.3375 9L12.75 13.5H11.025ZM6 8.625C6.3125 8.625 6.57812 8.51563 6.79687 8.29688C7.01562 8.07813 7.125 7.8125 7.125 7.5C7.125 7.1875 7.01562 6.92188 6.79687 6.70313C6.57812 6.48438 6.3125 6.375 6 6.375C5.6875 6.375 5.42187 6.48438 5.20312 6.70313C4.98437 6.92188 4.875 7.1875 4.875 7.5C4.875 7.8125 4.98437 8.07813 5.20312 8.29688C5.42187 8.51563 5.6875 8.625 6 8.625ZM12.75 8.625C13.0625 8.625 13.3281 8.51563 13.5469 8.29688C13.7656 8.07813 13.875 7.8125 13.875 7.5C13.875 7.1875 13.7656 6.92188 13.5469 6.70313C13.3281 6.48438 13.0625 6.375 12.75 6.375C12.4375 6.375 12.1719 6.48438 11.9531 6.70313C11.7344 6.92188 11.625 7.1875 11.625 7.5C11.625 7.8125 11.7344 8.07813 11.9531 8.29688C12.1719 8.51563 12.4375 8.625 12.75 8.625Z" fill="white"/></svg>');
  }
}

.playing-state {
  --display-main-play-button: none;
  --display-audio-player: block;
}

body {
  background-color: var(--bg-color);
  font-family: "Roboto Condensed", Roboto, serif;
  margin: 0;
  color: var(--main-color);
  font-weight: 700;
  fill: var(--main-color);
  overflow-x: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}

p {
  font-size: 26px;
  margin: 0 0 26px;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 18px;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
}

blockquote {
  position: relative;
  padding: 0 0 0 12px;
  margin: 10px 0 10px 25px;
  border-left: 2px solid var(--main-color);
}

blockquote:before {
  content: "";
  display: block;
  position: absolute;
  left: -30px;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.275 13.5L6 10.5C5.175 10.5 4.46875 10.2063 3.88125 9.61875C3.29375 9.03125 3 8.325 3 7.5C3 6.675 3.29375 5.96875 3.88125 5.38125C4.46875 4.79375 5.175 4.5 6 4.5C6.825 4.5 7.53125 4.79375 8.11875 5.38125C8.70625 5.96875 9 6.675 9 7.5C9 7.7875 8.96562 8.05313 8.89687 8.29688C8.82812 8.54063 8.725 8.775 8.5875 9L6 13.5H4.275ZM11.025 13.5L12.75 10.5C11.925 10.5 11.2187 10.2063 10.6312 9.61875C10.0437 9.03125 9.75 8.325 9.75 7.5C9.75 6.675 10.0437 5.96875 10.6312 5.38125C11.2187 4.79375 11.925 4.5 12.75 4.5C13.575 4.5 14.2812 4.79375 14.8687 5.38125C15.4562 5.96875 15.75 6.675 15.75 7.5C15.75 7.7875 15.7156 8.05313 15.6469 8.29688C15.5781 8.54063 15.475 8.775 15.3375 9L12.75 13.5H11.025ZM6 8.625C6.3125 8.625 6.57812 8.51563 6.79687 8.29688C7.01562 8.07813 7.125 7.8125 7.125 7.5C7.125 7.1875 7.01562 6.92188 6.79687 6.70313C6.57812 6.48438 6.3125 6.375 6 6.375C5.6875 6.375 5.42187 6.48438 5.20312 6.70313C4.98437 6.92188 4.875 7.1875 4.875 7.5C4.875 7.8125 4.98437 8.07813 5.20312 8.29688C5.42187 8.51563 5.6875 8.625 6 8.625ZM12.75 8.625C13.0625 8.625 13.3281 8.51563 13.5469 8.29688C13.7656 8.07813 13.875 7.8125 13.875 7.5C13.875 7.1875 13.7656 6.92188 13.5469 6.70313C13.3281 6.48438 13.0625 6.375 12.75 6.375C12.4375 6.375 12.1719 6.48438 11.9531 6.70313C11.7344 6.92188 11.625 7.1875 11.625 7.5C11.625 7.8125 11.7344 8.07813 11.9531 8.29688C12.1719 8.51563 12.4375 8.625 12.75 8.625Z" fill="black"/></svg>');
}

::selection {
  color: var(--bg-color);
  background-color: var(--main-color);
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-color-hovered);
}

.simple-modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 10000;
  background-color: var(--bg-color);
  overflow: hidden;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.simple-modal-close-button {
  cursor: pointer;
}

.simple-modal.open {
  display: block;
}

.simple-modal-body {
  background: var(--bg-color);
}

body.simple-modal-open {
  overflow: hidden;
}

.simple-modal-header {
  padding: var(--main-content-spacing) calc(2 * var(--main-content-spacing)) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.simple-modal-title {
  font-size: var(--h3-custom-font-size);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 30px;
}

body.simple-modal-open {
  overflow: hidden;
}

.simple-modal-header {
  padding: var(--main-content-spacing) calc(2 * var(--main-content-spacing)) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.simple-modal-title {
  font-size: var(--h3-custom-font-size);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 30px;
}

.simple-modal-content {
  padding: 0 calc(2 * var(--main-content-spacing)) var(--main-content-spacing);
  margin: calc(var(--main-content-spacing) / 2) 0 72px;
  overflow-y: scroll;
  height: calc(var(--with-address-bar-height) - 2 * var(--main-content-spacing) - 57px);
}

.simple-modal-footer {
  min-height: var(--main-content-spacing);
}

#main-part {
  height: var(--main-part-height);
  width: 100%;
  background-image: linear-gradient(to bottom, var(--gradient-background-color-start) 80%, var(--gradient-background-color-end)), url("/img/main-photo.svg");
  background-repeat: no-repeat;
  background-position-x: var(--main-part-background-position-x);
  background-position-y: calc(100% + 2px);
  background-size: var(--main-part-background-size);
}

#person-description-container {
  max-width: 590px;
  padding-left: var(--main-content-spacing);
  height: 100%;
  display: flex;
  align-items: center;
}

#main-part-content {
  position: relative;
  padding: var(--main-content-spacing) var(--main-content-spacing) 0;
  height: calc(100% - var(--main-content-spacing));
}

#main-wrapper {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

#main-play-button {
  position: fixed;
  bottom: var(--main-content-spacing);
  right: var(--main-content-spacing);
  cursor: pointer;
  display: var(--display-main-play-button);
}

#scroll-down-button-container {
  position: absolute;
  top: calc(var(--with-address-bar-height) - 88px);
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scroll-down-button-container svg {
  transform: rotate(90deg);
}

#language-item-uk > svg,
#language-item-en > svg {
  display: none;
}

#main-quote-mobile {
  display: none;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.selected > svg {
  display: block !important;
}

.main-title {
  font-size: var(--h1-custom-font-size);
}

.life-dates {
  font-size: var(--h3-custom-font-size);
  margin: 0 0.005vw 0 0;
}

.name-life-dates-box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.person-name {
  line-height: var(--h2-custom-font-size);
}

.button-outlined {
  border: var(--border-width) solid var(--main-color);
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 2px 5px;
}

.button-end-icon {
  display: flex;
  align-items: center;
}

.biography-button {
  font-size: 40px;
  margin: 20px 0;
  padding-top: 2px;
}

.button-text {
  padding: 0 10px;
}

.main-quote-container {
  border-left: 4px solid var(--main-color);
  padding: 8px 0 9px 16px;
  margin-left: 6px;
  font-size: 38px;
  text-shadow: 1px 1px 2px var(--bg-color);
}

.main-quote {
  display: flex;
  margin: 80px 0 124px;
}

.main-quote-mobile {
  display: flex;
  margin: 20px 0 48px;
}

.main-action-bar-container {
  position: absolute;
  top: var(--main-content-spacing);
  right: var(--main-content-spacing);
}

.main-action-bar {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.language-button {
  font-size: 32px;
}

.text-button {
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 8px 8px;
  user-select: none;
}

.icon-button {
  cursor: pointer;
  padding: 8px;
}

.main-play-button-mobile {
  cursor: pointer;
  display: none;
  margin-top: 30px;
}

#scroll-down-button {
  cursor: pointer;
  width: 200px;
  max-width: 100vw;
  display: flex;
  justify-content: center;
}

.dark-theme-icon {
  display: var(--display-dark-theme-icon);
}

.light-theme-icon {
  display: var(--display-light-theme-icon);
}

.container-title {
  font-size: var(--h2-custom-font-size);
}

.secondary-container {
  position: relative;
  padding: var(--main-content-spacing) var(--main-content-spacing) 0;
}

.container-title {
  display: flex;
  align-items: center;
}

.container-title .collapse-icon {
  transform: rotate(90deg);
  transition: transform 0.2s ease-in;
}

.container-title .container-title-text {
  margin-right: 10px;
}

.collapsible-container.open .collapse-icon {
  transform: rotate(270deg);
}

.standard-input {
  background-color: transparent;
  border: none;
  border-bottom: 4px solid var(--main-color);
  padding: 10px 12px;
  height: 32px;
  font-weight: 700;
  font-family: "Roboto Condensed", Roboto, serif;
  font-size: 32px;
  color: var(--main-color);
}

.standard-input::placeholder {
  font-weight: 700;
  font-family: "Roboto Condensed", Roboto, serif;
  font-size: 32px;
  color: var(--input-placeholder-color);
}

.standard-input:focus {
  outline: none;
}

.selector-language-item {
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  font-size: 26px;
  padding-bottom: 20px;
  margin-right: 20px;
}

.selector-language-item > .selector-language-name {
  margin-right: 20px;
}

.selector-language-item > svg {
  padding-bottom: 2px;
}

.full-name-life-dates {
  max-width: min-content;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: var(--bg-color);
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid var(--main-color);
  margin: 0;
}

input[type="range"]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: var(--bg-color);
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid var(--main-color);
  margin: 0;
}

input[type="range"]::-ms-thumb {
  width: 24px;
  height: 24px;
  background: var(--bg-color);
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid var(--main-color);
  margin: 0;
}

#life-story-container {
  margin: 0 auto;
  max-width: 1920px;
}

.life-story-title {
  padding: var(--main-content-spacing) var(--main-content-spacing) 0;
}

#posts-container {
  padding: 30px calc(var(--main-content-spacing) / 2);
}

@media (max-width: 1535px) {
  .main-title {
    font-size: clamp(72px, 6.5vw, var(--h1-custom-font-size));
  }

  .life-dates {
    font-size: clamp(32px, 3vw, var(--h3-custom-font-size));
  }

  .person-name {
    line-height: clamp(54px, 5vw, var(--h2-custom-font-size));
  }
}

@media (max-width: 950px) {
  :root {
    --border-width: 4px;
    --main-content-spacing: 30px;
    --main-part-background-size: 50vh;
    --main-part-background-position-x: 50%;
    --h1-custom-font-size: 56px;
    --h2-custom-font-size: 26px;
  }

  #posts-container {
    padding: 30px 0;
  }

  #main-play-button {
    display: none;
  }

  #scroll-down-button {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100%;
  }

  #scroll-down-button-container {
    bottom: 0;
    height: 96px;
  }

  #main-quote-desktop {
    display: none;
  }

  #main-quote-mobile {
    display: block;
  }

  .main-quote-container {
    font-size: 25px;
  }

  .main-action-bar-container {
    top: calc(var(--main-content-spacing) - 5px);
    right: calc(var(--main-content-spacing) - 10px);
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .language-button {
    display: none;
  }

  .language-button-mobile {
    display: block;
  }

  .main-action-bar {
    flex-direction: column-reverse;
    row-gap: 4px;
  }

  #person-description-container {
    align-items: flex-start;
    padding-left: 0;
  }

  .main-title {
    font-size: var(--h1-custom-font-size);
  }

  .icon-button {
    padding: 0;
  }

  .search-button {
    display: flex;
    align-items: center;
    height: 32px;
  }

  .collapse-icon {
    width: 48px;
    height: 48px;
  }

  .life-dates {
    font-size: var(--h2-custom-font-size);
    margin: 0 2px 0 0;
  }

  .person-name {
    line-height: 42px;
  }

  .biography-button {
    font-size: 26px;
  }

  .icon-button > svg {
    transform: scale(0.8);
  }

  .main-play-button-mobile {
    display: block;
  }

  .container-title {
    font-size: var(--h1-custom-font-size);
  }

  .simple-modal-title {
    font-size: 36px;
  }

  p {
    font-size: 18px;
    margin: 0 0 18px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 18px;
  }

  .simple-modal-content {
    padding: 0 var(--main-content-spacing) var(--main-content-spacing);
  }

  .simple-modal-header {
    padding: var(--main-content-spacing) calc(var(--main-content-spacing)) 0;
  }
}

@media (max-width: 380px) {
  .main-title {
    font-size: clamp(16px, 12vw, var(--h1-custom-font-size));
    line-height: clamp(16px, 10vw, var(--h1-custom-font-size));
  }

  .life-dates {
    font-size: clamp(8px, 5vw, var(--h2-custom-font-size));
  }

  .biography-button {
    width: 40vw;
    font-size: clamp(8px, 6.84vw, var(--h2-custom-font-size));
    padding: 0;
    justify-content: center;
  }

  .biography-button > svg {
    display: none;
  }

  .button-end-icon {
    display: none !important;
  }

  .icon-button > svg {
    transform: scale(0.6);
  }
}

@media (min-height: 1080px) {
  :root {
    --main-part-height: 1080px;
    --main-part-background-size: 720px;
  }
}
